# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pythonProject\悬浮控件Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
